.addModal{
    position: fixed;
    top: 92%;
    left: -53%;
    right: 0;
    bottom: 0;
    background: transparent;
    display: none;
    width: 500px;
    transition-duration: .3s;
}
.modalWrapper{
    padding: 25px;
    background:#131313;
    width: 80%;
    color: #fff;
}
.active{
    display: flex;
    justify-content: center;
    align-items: center;
    left: -6%;
    transition-duration: .3s;
}