.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    background: #7A004F;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 104.51%;
    color: #fff;
    border: none;
    text-decoration: none;
}