.m-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 104.51%;
  color: #fff;
}

.m-tittle {
  font-family: "SF UI Display", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 84.51%;
  max-width: 600px;
  color: #fff;
}

.description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 104.51%;
  max-width: 600px;
  color: #fff;
}

.f-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 104.51%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}

/*---- Header ----*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #131313;
  z-index: 999;
  padding: 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 46px;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.header-col6 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 0 0 50%;
}

.header-nav {
  justify-content: flex-end;
  gap: 40px;
}

.basket-count {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  right: -12px;
  height: 20px;
  width: 20px;
  background-color: #644E91;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
}

.r-text {
  position: relative;
}

/*---- HeaderProfile ----*/
.profile {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

/*---- HeaderFavorites ----*/
.favorites {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.favorites-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 352px;
  overflow-y: scroll;
}

.favorites-count {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  top: -12px;
  right: -12px;
  height: 20px;
  width: 20px;
  background-color: #644E91;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border: 2px solid #7A004F;
  gap: 20px;
}
.favorite-item img {
  max-width: 50px;
  max-height: 50px;
}

.favorite-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.favorite-img {
  width: 20px;
  height: 20px;
}

/*---- HeaderBasket ----*/
.basket {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border: 2px solid #7A004F;
  gap: 20px;
}
.basket-item img {
  max-width: 50px;
  max-height: 50px;
}

.s-block {
  display: flex;
  align-items: center;
  gap: 5px;
}

.basket-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid #644E91;
  gap: 20px;
  padding: 25px;
}

/*---- HeaderSearch ----*/
.search {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: #fff;
  border-radius: 15px;
}
.search:focus {
  outline: none;
}
.search:focus::placeholder {
  color: transparent;
}

/*---- mediaHeader ----*/
@media all and (max-width: 575px) {
  .info-basket {
    display: none;
  }
  .info-profile {
    display: none;
  }
  .col-active {
    flex-direction: column;
  }
}
/*---- FirstScreen ----*/
.first-screen {
  background-image: url("../assets/img/m-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.first-screen-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
}
.link:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

/*---- mediaFirstScreen ----*/
@media all and (max-width: 575px) {
  .m-tittle {
    font-size: 40px;
  }
  .description {
    font-size: 15px;
  }
}
/*---- Footer ----*/
.footer {
  background-color: #fff;
}

.footer-wrapper {
  display: block;
  padding: 25px;
}

.info-company {
  margin-bottom: 20px;
}

.f-block {
  display: flex;
  flex-wrap: wrap;
}

.f-left {
  flex: 0 0 75%;
}

.f-right {
  flex: 0 0 25%;
}

/*---- FormContact ----*/
.form-contact {
  padding: 42px;
  background-image: url("../assets/img/form-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-block {
  display: flex;
  justify-content: flex-end;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  max-width: 400px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 20px;
  border-radius: 15px;
}

.f-input {
  display: flex;
  height: 40px;
  padding: 5px 10px;
  background-color: #fff;
  border: #fff;
  font-size: 24px;
}
.f-input:focus {
  outline: none;
}
.f-input:focus::placeholder {
  color: transparent;
}

.f-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  border-radius: 15px;
  background: #644E91;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
}

/*---- MediaFormContact ----*/
@media all and (max-width: 500px) {
  .form-block {
    display: block;
  }
  .tittle-form {
    color: #fff;
  }
  .f-button {
    font-size: 14px;
  }
  .f-input {
    font-size: 14px;
  }
}
/*---- Category ----*/
.category {
  padding: 20px;
}

.category-information {
  display: flex;
  align-items: center;
  gap: 20px;
}

.category-title {
  font-family: "SF UI Display", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 104.51%;
}

.category-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 17px;
  color: #fff;
  background: #644E91;
  border-radius: 5px;
}

.category-items {
  padding: 40px 0;
}

/*---- CategoryItems ----*/
.category-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.category-item {
  display: flex;
  max-width: 475px;
  gap: 35px;
}

.item-information {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #000;
  padding-left: 25px;
  gap: 20px;
}

.item-title {
  font-family: "SF UI Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 104.51%;
}

.item-description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 104.51%;
}

/*---- MediaCategory ----*/
@media all and (max-width: 520px) {
  .category-item {
    flex-direction: column;
    align-items: center;
  }
  .category-item img {
    max-width: 250px;
  }
  .category-title {
    font-size: 18px;
  }
  .item-title {
    font-size: 16px;
  }
  .item-description {
    font-size: 14px;
  }
}
/*---- CategoryPage ----*/
.category-page {
  padding: 100px 0 40px;
}

.wrapper-page {
  display: flex;
}

.header-page {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid grey;
  padding: 20px 0;
  margin-bottom: 30px;
}

.amount-items {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 104.51%;
  color: #919191;
}

.categories-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0 0 20%;
  background-color: #F7F7F7;
  border-radius: 10px;
  padding: 15px;
}

.nav-category {
  font-family: "SF UI Display", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 100%;
  color: #000000;
  text-decoration: none;
}

.block-materials {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  flex-wrap: wrap;
  gap: 20px;
  flex: 0 0 80%;
}

/*---- Items ----*/
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 2px solid #E0E0E0;
  max-width: 240px;
}

.item-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.item-img {
  width: 180px;
  height: 190px;
}

.title-block {
  padding: 20px;
}

.item-option {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
}

.item-price {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 104.51%;
}

.block-option {
  display: flex;
  gap: 10px;
}

.item-buy {
  display: flex;
  padding-bottom: 20px;
}

.icon-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

/*---- about page----*/
.about-page {
  padding: 100px 0 0;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 25px;
}

.title-about {
  font-family: "SF UI Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 104.51%;
}

.about-description {
  display: flex;
  gap: 20px;
}

.about-img {
  width: 250px;
  height: 250px;
}

.about-btn {
  text-decoration: none;
}

/*---- profile page ----*/
.profile-page {
  margin-top: 80px;
  min-height: calc(100vh - 197px);
}

.profile-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  gap: 20px;
}

.user-avatar {
  width: 200px;
  height: 200px;
}

.profile-names {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 50%;
}

.user-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info {
  font-size: 20px;
  font-weight: bold;
}

.user-phone {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  color: #7A004F;
}

/*# sourceMappingURL=index.css.map */
